@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&family=Sofia&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Paleta de colores */
/*  color: #faf3f0;
    #4e3f38  #d56737  #f18657  #f9ede7 */

body {
    padding: 0;
    overflow-x: hidden;
}

/* .header {
    background-color: #f18657;
    align-items: center;
} */

/* .navbar {
    background-color: #f9ede7;
    padding: 0;
} */

.nav-item :active {
    color: rgb(218, 117, 34);
}

.nav-link {
    color: rgb(218, 117, 34);
    font-size: 1.2rem;
}

.nav a:hover {
    color: #f9ede7;
    background-color: #d56737;
}

#navbarSupportedContent a:hover {
    color: #f9ede7;
    background-color: #d56737;
}

.nav :active a:hover {
    color: #f9ede7;
    background-color: #d56737;
}

a { 
    color: #f9ede7;
}

.banner img {
    /* display: flex; */
    width: 100%;
    height: 30vh;
    margin: 0;
    padding: 0;
}

h1 {
    color: #d56737;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    color: #f18657;
    font-weight: bold;
}

p {
    font-size: 1rem;
    font-family: 'Sofia', cursive;
}

.fotos-productos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.fotos-productos .card {
    box-shadow: 5px 5px 5px rgba(218, 117, 34, 0.473);
}

.card .img:hover {
    transform: scale(1.1);
    transition: 1s;
} 

.btn {
    background-color: #f18657;
}

/* ESTILOS EN LA SECCIÓN DELIVERY DE ÍNDICE */
#delivery h2 {
    display: flex;
    color: rgb(218, 117, 34);
    justify-content: center;
    align-items: center;
}

.delivery h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.delivery {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.delivery > img {
    width: 15%;
    animation: ease-in animat 3.0s;
    border-radius: 10%;
}

@keyframes animat {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }

/* Estilos en la barra de navegación */
/* .barranav {
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}
 */
/* Estilos en la tabla de productos */
table {
    font-size: larger;
}

td {
    font-size: 1.2em;
}

/* Estilos de las estrellas de calificación */
.calificacion {
    color: gold;
}

/* ESTILOS EN EL FORMULARIO DE CONTACTO */
/* form {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 50vh;
    display: flex;
    align-items: center;
    background-color:white;
} */

/* ESTILOS INPUT y LABEL DEL FORMULARIO DE CONTACTO */
/* input {
    padding: 50px 55px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border: 20px;
    text-align: center;
    width: 340px;
    background-color: #e05417;
    flex-direction: column;
}
*/

/*
input, textarea {
    background-color: rgb(173, 138, 91);
    padding: 20px 14px;
    margin-bottom: 25px;
    border: 0;
    border-radius: 10px;
    font-size: 15px;
 } */
  

/* ESTILO EN EL BOTÓN ENVIAR DEL FORMULARIO DE CONTACTO */
/* .enviar {
    font-size: 17px;
    cursor: pointer;
    width: fit-content; 
} */

/* Estilos del pie de página */
footer {
    background-color: #4e3f38;
    color: #f18657;
}

footer, a, h1, h3, h5, h6 {
    color: #f18657;
}

footer a {
    text-decoration: none;
}

.arriba {
    color: #f18657;
}

#enlaces-mapa-sitio a {
    color: #f18657;
}